services:
  
  timescale:
    image: timescale/timescaledb-ha:pg17-ts2.18
    restart: no
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U diwise" ]
      interval: 5s
      timeout: 5s
      retries: 12
      start_period: 10s
    environment:
      POSTGRES_PASSWORD: "password"
      POSTGRES_HOST_AUTH_METHOD: "trust"
    ports:
      - '5432:5432'

  mosquitto:
    image: eclipse-mosquitto:openssl
    restart: always
    ports:
      - "1883:1883"
      - "8883:8883"
    volumes:
      - ./configs/mosquitto.conf:/mosquitto/config/mosquitto.conf
    healthcheck:
      test: ["CMD-SHELL", "timeout -t 5 mosquitto_sub -t '$$SYS/#' -C 1 | grep -v Error || exit 1"]
      interval: 10s
      timeout: 10s
      retries: 30       

  rabbitmq:
    image: "bitnamilegacy/rabbitmq:3.11"
    environment:
      RABBITMQ_DEFAULT_USER: "user"
      RABBITMQ_DEFAULT_PASS: "bitnami"
    ports:
      - "4369"
      - "5672"
      - "25672"
      - "15672"
      - "15692"
    volumes:
      - "rabbitmq_data:/bitnami"
      - "./configs/enabled_plugins:/opt/bitnami/rabbitmq/etc/rabbitmq/enabled_plugins"
      - "./configs/rabbitmq.conf:/opt/bitnami/rabbitmq/etc/rabbitmq/rabbitmq.conf"
    healthcheck:
      test: rabbitmq-diagnostics -q ping
      interval: 2s
      timeout: 2s
      retries: 60
      start_period: 20s

volumes:
  rabbitmq_data:
    driver: local
 